auto lo
iface lo inet loopback

iface {{ proxmox_interface }} inet manual

auto {{ proxmox_bridge }}
iface {{ proxmox_bridge }} inet static
    address {{ proxmox_ip }}/{{ proxmox_netmask }}
    gateway {{ proxmox_gateway }}
    bridge-ports {{ proxmox_interface }}
    bridge-stp off
    bridge-fd 0

source /etc/network/interfaces.d/*